%h2 Brand
%ul
  - @racquets.pluck(:brand).uniq.each do |brand|
    %li
      - if params[:brand]&.include?(brand)
        %button.active.btn.btn-outline-primary{ data: { filter: 'brand', state: 'active' } }= brand 
      - else
        %button.btn.btn-outline-primary{ data: { filter: 'brand', state: 'inactive' } }= brand 

%h2 Balance
%ul
  - @racquets.pluck(:balance).uniq.each do |balance|
    %li
      - if params[:balance]&.include?(balance)
        %button.active.btn.btn-outline-primary{ data: { filter: 'balance', state: 'active' } }= balance
      - else
        %button.btn.btn-outline-primary{ data: { filter: 'balance', state: 'inactive' } }= balance 

%h2 Weight
%ul
  - @racquets.pluck(:weight).uniq.sort.each do |weight|
    %li
      - if params[:weight]&.include?(weight.to_s)
        %button.active.btn.btn-outline-primary{ data: { filter: 'weight', state: 'active' } }= weight
      - else
        %button.btn.btn-outline-primary{ data: { filter: 'weight', state: 'inactive' } }= weight

