/** General **/
body {
  background: #F2F2F2;
}

.row {
  margin-right: -5px;
}

ul {
  list-style-type: none;
  padding: 0;
}


.navbar {
  border-bottom: solid 1px #E2DCDC;
  justify-content: left;

  a {
    margin-left: auto;
    text-align: center;
    width: 850px;
  }

  img {
    width: 65%;
  }
}

.sidebar {
  border-right: solid 1px #E2DCDC;
  width: 10%;

  .btn-group-toggle {
    display: flex;
    margin-top: 20px;
  }

  h2 {
    font-size: 3rem;
    margin: 20px 0;
  }

  ul {
    button {
      border: none;
      font-size: 2rem;
      margin-bottom: 15px;
    }

    li:last-child {
      button {
        margin-bottom: 0;
      }
    }
  }
}

.pagination {
  display: block;
  text-align: center;
  font-size: 3rem;
}

/** Racquets **/
.racquet-card {
  background: #FFF;
  text-align: center;
  margin: 20px 5px 0;
  padding: 30px 20px 15px;

  .racquet-img {
    width: 75%;
    height: 75%;
  }

  .racquet-brand, .racquet-model {
    font-weight: bold;
  }

  .racquet-brand {
    font-size: 2.2rem;
  }

  .fa-weight-hanging {
    margin: 0 2px;
  }

  .fa-sticky-note {
    margin: 0 3px;
  }

  li {
    font-size: 2rem;
    text-align: left;
  }
}

