/** General **/
.row {
  margin-right: -5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.navbar, .sidebar {
  background: #F7F7F7;
}

.navbar {
  justify-content: center;

  a {
    text-align: center;
    width: 1000px;
  }

  img {
    width: 65%;
  }
}

.sidebar {
  width: 10%;

  .btn-group-toggle {
    display: flex;
    margin-top: 20px;
  }

  h2 {
    font-size: 1.5rem;
    margin: 20px 0;
  }

  ul {
    button {
      font-size: 1rem;
      margin-bottom: 15px;
    }

    li:last-child {
      button {
        margin-bottom: 0;
      }
    }
  }
}

/** Racquets **/
.racquet-card {
  border: 2px solid #E4E4E4;
  text-align: center;
  margin: 20px 5px 0;

  img {
    width: 75%;
    height: 75%;
  }

  li {
    font-size: 1rem;
  }
}

