@media (min-width: 1024px) {
  .main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .racquet-card {
    flex: 1 0 48%;
    max-height: 48%;
    max-width: 50%;
  }

  .racquet-img {
    margin-top: 10px;
    transition: transform .2s;
  }

  .racquet-img:hover {
    transform: scale(2.5);
  }

  .pagination {
    align-self: center;
  }
}

@media (min-width: 1280px) {
  .racquet-card{
    margin-left: 5px;
  }
}

@media (min-width: 1600px) {
  .sidebar {
    flex-grow: 0.5;
  }

  .racquet-card {
    max-width: 30%;
    max-height: 60%;
  }
}
